html{
    font-size: 14px;
}

body{
    background-color: whitesmoke;
    font-family: Verdana, Tahoma, sans-serif;
    color: #ffad57;
    font-weight: 200;
}

p, li{
    text-align: justify;
    color: black;
}

