html{
    font-size: 14px;
    box-sizing: border-box;
}

body{
    background-color: white;
    font-family: Verdana, Tahoma, sans-serif;
    font-weight: 200;
    box-sizing: border-box;
}

.main-box-container{
    background-color: #463f32;
}

.top-screen{
    height: 100px;
    width: 1000px;
    margin: 0px auto;
    padding: 10px;
}

.top-screen img{
    display: block;
    height: 90px;
    margin-top: 5px;
    margin-left: 20px;
    width: auto;
}

.top-screen h1{
    font-family: serif;
    width: 100px;
    color: #D7CBC0;
    margin: -70px 0 0 100px;
}


.first-box{
    width: 1000px;
    margin: 0px auto;
    padding: 10px;
    border: 0.5px solid black;
}

.recipes-box{
    margin-right: 40px;
    padding: 10px;
    width: 650px;
    border: 0.5px solid black;
    display: inline-block;
}

.helping-box{
    width: 217px;
    border: 0.5px solid #463f32;
    display:inline-block;
    padding: 10px;
}

.info-box{
    display: inline-block;
    text-align: center;
}

.prep-time, .cook-time, .total-time, .servings{
    display: inline-block;
    width: 100px;
    margin-right: 5px;
}

h4{
    color: #463f32;
}

.info-allign{
    text-align: center;
    padding: 2px;
}

.ingrebox{
    margin-left: -10px;
}